@model List<ViewerAndDesigner.Classes.ReportList>
@using ViewerAndDesigner.Controllers;
@using ViewerAndDesigner.Classes;
@using System.Collections.Generic;
@{
    ViewBag.Title = "Home Page";
}
@*<div class="jumbotron">*@

<div>
    <h1>Stimulsoft Reports</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição do relatório</th>
            <th scope="col">Nome do modelo</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
        <tr>
            <th scope="row">@report.Sequence</th>
            <td>@report.Description</td>
            <td>@report.Name</td>
            @*<td>
                <button class="btn btn-xs btn-primary" (click)="redirectReport(report)">View report</button>
            </td>*@
            <td>
                @Html.ActionLink("View report", "Index", report.Controller, @report, null)

                @*<a href="/@report.Controller/@report" class="btn">View report</a>*@
            </td>
        </tr>
        }
        </tbody>
</table>

